<!--
    Displays a table of customers in the organization dashboard
  -->
  <div class="panel panel-default" >
    <div class="panel-heading">
     <strong>Customers</strong>
   </div>
   <div class="panel-body">
     <p class="alert alert-warning" ng-show="!fetching && list.length == 0">
      No customers on record, maybe you want to <a ng-href="#/organizations/{{organization.id}}/customers/new">add one? </a>
    </p>

    <p ng-show="fetching"> Fetching customers...</p>

    <table class="table table-striped table-hover" ng-show="!fetching && list.length > 0" items-per-page="3">
      <thead>
       <tr>
        <th></th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Mobile number</th>
        <th>Club</th>
        <th>Address</th>
        <th>Store</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in list"> 
        <td class="actions">
         <div class="btn-group">
          <a ng-href="#/organizations/{{organization.id}}/customers/{{c.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-click="deleteCustomer(c)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </td>        
      <td>{{c.name}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.mobilePhone}}</td>
      <td>{{c.association}}</td>
      <td>{{c.address.address}}</td>
      <td><a ng-href="#/organizations/{{organization.id}}/stores/{{c.customerCreatedInStore.id}}">{{c.customerCreatedInStore.name}}</a></td>
    </tr>
  </tbody>
</table>
<div align="center">
  <pagination 
  total-items="totalItems"  ng-model="currentPage" items-per-page="5"  
  class="pagination-sm" boundary-links="true"
  rotate="false" previous-text="Back" next-text="Nextt" first-text="First"
  last-text="Last">  

</pagination>
</div>
</div>    
</div>