<!--
    Uses registerCustomerForm.js
-->

<div ng-controller="RegisterCustomerCtrl as ctrl">
	<h3>Edit {{customer.name}}</h3>
	<register-customer-form customer="customer" action="ctrl.update(customer, '/organizations/' + organizationId)" errors="ctrl.errors" organization="organizationId">
	</customer-form>
</div>