<!--
    The main form for registering and editing customers. 
-->


<form name="registerForm" ng-submit="action()" novalidate form-helper="errors">
    
    <div class="form-group">
      <store-selector organization="organization" ng-model="customer.customerCreatedInStore.id"></store-selector>
      <error-messages key="customerCreatedInStore"></error-messages>
    </div>
    <div class="form-group" ng-class="{'has-error' : registerForm.name.$invalid }">
      <input type="text" name="name" placeholder="Name" class="form-control" ng-model="customer.name" />
      <error-messages key="name"></error-messages>
    </div>

    <div class="form-group" ng-class="{'has-error' : registerForm.lastName.$invalid }">
      <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="customer.lastName"  />
      <error-messages key="lastName"></error-messages>
    </div>
    
    <div class="form-group" ng-class="{'has-error' : registerForm.mobilePhone.$invalid }">
      <input type="text" name="mobilePhone" class="form-control" placeholder="Mobile Phone" ng-model="customer.mobilePhone" />
      <error-messages key="mobilePhone"></error-messages>
    </div>
      
    <div class="form-group" ng-class="{'has-error' : registerForm.association.$invalid }">
      <input type="text" name="association" class="form-control" placeholder="Association" ng-model="customer.association"  />
      <error-messages key="association"></error-messages>
    </div>   
      
    <div class="form-group" ng-class="{'has-error' : registerForm.address.$invalid }">
      <input type="text" name="address" class="form-control" placeholder="Address" ng-model="customer.address.address" />
      <error-messages key="address"></error-messages>
    </div>
    
    <div class="form-group" ng-class="{'has-error' : registerForm.postalCode.$invalid }">
      <input type="text" name="postalCode" class="form-control" placeholder="Address PostalCode" ng-model="customer.address.postalCode" />
      <error-messages key="postalCode"></error-messages>
    </div>
    
    <div class="form-group" ng-class="{'has-error' : registerForm.city.$invalid }">
      <input type="text" name="city" class="form-control" placeholder="City" ng-model="customer.address.city" />
      <error-messages key="city"></error-messages>
    </div>
    
    <div class="form-group" ng-class="{'has-error' : registerForm.email.$invalid }">
      <input type="text" name ="email" class="form-control" placeholder="email" ng-model="customer.email" />
      <error-messages key="email"></error-messages>
    </div>
      
    <div class="form-group" ng-class="{'has-error' : registerForm.extraPhoneNumber.$invalid }">
      <input type="text" name="extraPhoneNumber" class="form-control" placeholder="Extra Phone Number" ng-model="customer.extraPhoneNumber"/>
      <error-messages key="extraPhoneNumber"></error-messages>
    </div>   
      
    <div class="form-group">
      <button class="btn btn-lg btn-block btn-success" >Submit</button>
    </div>
</form>