<!--
    Uses registerCustomerForm.js
-->

<div ng-controller="RegisterCustomerCtrl as ctrl" ng-init="customer = {}">
	<h3>New Customer</h3>
        <register-customer-form customer="customer" action="ctrl.register(customer, '/organizations/' + organizationId)" errors="ctrl.errors" organization="organizationId">
            
        </register-customer-form>
</div>