<!--
    Uses registerStoreForm.js
-->

<div ng-controller="StoreCtrl as ctrl">
	<h3>Edit {{credentials.name}}</h3>
	<register-store-form credentials="credentials" action="ctrl.update(credentials, '/organizations/' + organizationId)" editing="true" errors="ctrl.errors"></register-store-form>
</div>