<!--
    Uses registerStoreForm.js
-->

<div ng-controller="StoreCtrl as ctrl" ng-init="credentials = {}">
	<h3>New store</h3>
	<register-store-form credentials="credentials" action="ctrl.register(credentials, '/organizations/' + organizationId)" editing="false" errors="ctrl.errors"></register-store-form>
</div>