<!--
    Main form for creating and editing stores
-->
  
  <form name="registerForm" ng-submit="action()" novalidate form-helper="errors">
    
    <fieldset>
      <legend>General info</legend>

      <div class="form-group" ng-class="{'has-error' : registerForm.name.$invalid }">
        <input type="text" name="name" placeholder="Store name" class="form-control" ng-model="credentials.name" />
        <error-messages key="name"></error-messages>
      </div>  
      
      <div class="form-group" ng-class="{'has-error' : registerForm.email.$invalid }">
        <input type="email" name="email" placeholder="Email" class="form-control" ng-model="credentials.email" />
        <error-messages key="email"></error-messages>
      </div>
      
      <div class="form-group" ng-class="{'has-error' : registerForm.mobilePhone.$invalid }">
        <input type="text" name="mobilePhone" placeholder="mobilePhone" class="form-control" ng-model="credentials.mobilePhone" />
        <error-messages key="mobilePhone"></error-messages>
      </div>   

      <div class="form-group" ng-class="{'has-error' : registerForm.extraPhoneNumber.$invalid }">
        <input type="text" name="extraPhoneNumber" placeholder="Extra phone number" class="form-control" ng-model="credentials.extraPhoneNumber" />
        <error-messages key="extraPhoneNumber"></error-messages>
      </div>   
    </fieldset>      
    
    <fieldset>
      <legend>Login settings</legend>
  
      <div class="form-group" ng-class="{'has-error' : registerForm.username.$invalid }" ng-show="editing == 'false'">
        <input type="text" name="username" placeholder="Store username" class="form-control" ng-model="credentials.dependencies.username" />
        <error-messages key="username"></error-messages>
      </div>  
  
      <div class="form-group" ng-class="{'has-error' : registerForm.password.$invalid }">
        <input type="password" name="password" placeholder="Store password" class="form-control" ng-model="credentials.dependencies.password" />
        <error-messages key="password"></error-messages>
      </div>  

      <div class="form-group" ng-class="{'has-error' : registerForm.currentPassword.$invalid }" ng-show="editing == 'true'">
        <input type="password" name="currentPassword" placeholder="Store current password" class="form-control" ng-model="credentials.dependencies.currentPassword" />
        <error-messages key="currentPassword"></error-messages>
      </div>  
    </fieldset>

    <fieldset>
      <legend>Address</legend>

      <address-fields data="credentials"></address-fields>
    </fieldset>

    <div class="form-group">
      <button class="btn btn-lg btn-block btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>