<!--
    Lists stores in the organization dashboard
-->


<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Stores</strong>
  </div>

  <div class="panel-body">
    
    <alert ng-show="deleteError" type="danger" close="closeDeleteError()"> {{deleteError}}</alert>

    <p class="alert alert-warning" ng-show="!fetching && stores.length == 0">
      No stores on record, maybe you want to <a ng-href="#/organizations/{{organization.id}}/stores/new">add one? </a>
    </p>

    <p ng-show="fetching"> Fetching stores... </p>

    <table class="table table-hover" ng-show="!fetching && stores.length > 0">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in stores">
          <td class="actions"> 
            <div class="btn-group">
              <a ng-href="#/organizations/{{organization.id}}/stores/{{s.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
              <a ng-click="deleteStore(s)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </td>
          <td> {{ s.name }} </td>
          <td> {{ s.address.address }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>