<!--
    Provides a <select> element which is reused throughout the application
-->



<select ng-model="val" class="form-control" ng-options="store.id as store.name for store in stores">
	<option value="">Pick a store</option>
</select>