<div class="form-group" ng-class="{ 'has-error' : parentForm.address.$invalid }">
	<input type="text" class="form-control" name="address" ng-model="data.address.address" placeholder="Address" />
	<error-messages key="address"></error-messages>
</div>

<div class="form-group" ng-class="{ 'has-error' : parentForm.postalCode.$invalid }">
	<input type="text" class="form-control" name="postalCode" ng-model="data.address.postalCode" placeholder="Postal code" />
	<error-messages key="postalCode"></error-messages>
</div>

<div class="form-group" ng-class="{ 'has-error' : parentForm.city.$invalid }">
	<input type="text" class="form-control" name="city" ng-model="data.address.city" placeholder="City" />
	<error-messages key="city"></error-messages>
</div>