<!--
    Uses registerProviderForm.js
-->

<div ng-controller="RegisterProviderCtrl as ctrl">
	<h3>Edit {{provider.name}}</h3>
	<provider-form provider="provider" action="ctrl.update(provider, '/organizations/' + organizationId)" errors="ctrl.errors" organization="organizationId">
	</provider-form>
</div>