<!--
    Uses registerProviderForm.js
-->

<div ng-controller="RegisterProviderCtrl as ctrl" ng-init="provider = {}">
	<h3>New provider</h3>
	<provider-form provider="provider" action="ctrl.register(provider, '/organizations/' + organizationId)" errors="ctrl.errors" organization="organizationId"></provider-form>
</div>