<form name="registerProviderForm" novalidate ng-submit="action()" form-helper="errors" >
		
		<fieldset>
			<legend>Provider information</legend>
			<div class="form-group" ng-class="{ 'has-error' : registerProviderForm.name.$invalid }">
				<input type="text" class="form-control" name="name" ng-model="provider.name" placeholder="Provider Name" />
				<error-messages key="name"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : registerProviderForm.providerAbbreviationId.$invalid }">
				<input type="text" class="form-control" name="providerAbbreviationId" ng-model="provider.providerAbbreviationId" placeholder="Provider Abbreviation ID" />
				<error-messages key="providerAbbreviationId"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : registerProviderForm.mobilePhone.$invalid }">
				<input type="text" class="form-control" name="mobilePhone" ng-model="provider.mobilePhone" placeholder="Provider mobilE" />
				<error-messages key="mobilePhone"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : registerProviderForm.extraPhoneNumber.$invalid }">
				<input type="text" class="form-control" name="extraPhoneNumber" ng-model="provider.extraPhoneNumber" placeholder="Provider extra phone number" />
				<error-messages key="extraPhoneNumber"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : registerProviderForm.email.$invalid }">
				<input type="email" class="form-control" name="email" ng-model="provider.email" placeholder="Provider email" />
				<error-messages key="email"></error-messages>
			</div>
                        
                        <fieldset>
                            <legend>Address</legend>

                            <address-fields data="provider"></address-fields>
                        </fieldset>
                        
		</fieldset>
		
		<div class="form-group">
			<div class="btn-group">
				<button class="btn btn-primary"  >Submit</button>
			</div>
		</div>

		
</form>