
<div class="panel panel-default">
    <div class="panel-heading">
        <strong> Providers </strong>
    </div>
	
    <div class="panel-body">   
            <p class="alert alert-warning" ng-show="!fetching && list.length == 0">
                    No providers on record, maybe you want to <a ng-href="#/organizations/{{organization.id}}/providers/new">add one? </a>
            </p>

            <p ng-show="fetching"> Fetching providers... </p>

            <table class="table table-striped table-hover" ng-show="!fetching && list.length > 0">
                    <thead>
                            <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Abbreviation</th>
                                    <th>Mobile Phone</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th></th>
                            </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="p in list">
                                    <td class="actions">
					<div class="btn-group">
                                            <a ng-href="#/organizations/{{organization.id}}/providers/{{p.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a ng-click="deleteProvider(p)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
                                    </td>  
                                    <td>{{p.name}}</td>
                                    <td>{{p.providerAbbreviationId}}</td>
                                    <td>{{p.mobilePhone}}</td>
                                    <td>{{p.email}}</td>
                                    <td>{{p.address.address}}</td>
                            </tr>
                    </tbody>
            </table>
    </div>        
</div>