<div ng-controller="RegisterCtrl as ctrl">
  <h1>Register</h1>

  <form name="registerForm" ng-submit="ctrl.register(credentials, destination)" novalidate form-helper="ctrl.errors">
    
    <div class="form-group" ng-class="{'has-error' : registerForm.username.$dirty && registerForm.username.$invalid }">
      <input type="text" name="username" placeholder="Username" class="form-control" ng-model="credentials.username" required />    
      <error-messages key="username"> </error-messages>
    </div>

    <div class="form-group" ng-class="{'has-error' : registerForm.password.$dirty && registerForm.password.$invalid }">
      <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password" required />
      <error-messages key="password"></error-messages>
    </div>
    
    <div class="form-group">
      <button class="btn btn-lg btn-block btn-success" type="submit">Register</button>
    </div>
  </form>
</div>