<div class="container"  ng-controller="LoginCtrl as ctrl"> 
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                        
            <h1 class="text-center login-title">Sign in to WebMemo</h1>
            <div class="account-wall">

               <form class="form-signin" name="loginForm"
                                   ng-submit="login(credentials)" novalidate form-helper="ctrl.errors" ng-init="credentials = {}">

                <div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid  }">
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                       ng-model="credentials.username"  autofocus>
                    <error-messages key="username"></error-messages>
                </div>

                <div class="form-group"  ng-class="{'has-error' : loginForm.password.$invalid }">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                           ng-model="credentials.password" 
                    <error-messages key="password"></error-messages>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                  Sign in</button>
                  <a ng-show="enableRegistration" class="btn btn-lg btn-default btn-block" href="#/register">Register</a>
              </form>
              
            </div>
        </div>
    </div>
</div>
