<!--
    Uses employeeForm.js
-->

<div ng-controller="EmployeesCtrl as ctrl">
	<h3>Edit {{employee.name}}</h3>
	<employee-form employee="employee" action="ctrl.update(employee, '/organizations/' + organizationId)" errors="ctrl.errors" organization="organizationId">
	</employee-form>
</div>