<!--
    Displays a list of employees in the organization dashboard
-->


<div class="panel panel-default">

	<div class="panel-heading">
		<strong>Employees</strong>
	</div>
	
	<div class="panel-body">
		<p class="alert alert-warning" ng-show="!fetching && list.length == 0">
			No employees on record, maybe you want to <a ng-href="#/organizations/{{organization.id}}/employees/new">add one? </a>
		</p>

		<p ng-show="fetching"> Fetching employees... </p>

		<table class="table table-hover" ng-show="!fetching && list.length > 0">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Last name</th>
					<th>Abbreviation</th>
					<th>Is responsible</th>
					<th>Phone number</th>
					<th>Store</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="e in list">
					<td class="actions">
						<div class="btn-group">
							<a ng-href="#/organizations/{{organization.id}}/employees/{{e.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
							<a ng-click="deleteEmployee(e)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
					</td>
					<td>{{e.name}}</td>
					<td>{{e.lastName}}</td>
					<td>{{e.abbreviation}}</td>
					<td>{{e.isResponsible ? "Yes" : "No"}}</td>
					<td>{{e.mobilePhone}}</td>
					<td><a ng-href="#/organizations/{{organization.id}}/stores/{{e.workingInStore.id}}">{{e.workingInStore.name}}</a></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>