<!--
    The main form for creating and editing employees
-->

<form name="employeeForm" novalidate ng-submit="action()" form-helper="errors">
		
		<fieldset>
			<legend>General information</legend>
			<div class="form-group" ng-class="{ 'has-error' : employeeForm.name.$invalid }">
				<input type="text" class="form-control" name="name" ng-model="employee.name" placeholder="Employee first name" />
				<error-messages key="name"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : employeeForm.lastName.$invalid }">
				<input type="text" class="form-control" name="lastName" ng-model="employee.lastName" placeholder="Employee last name" />
				<error-messages key="lastName"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : employeeForm.abbreviation.$invalid }">
				<input type="text" class="form-control" name="abbreviation" ng-model="employee.abbreviation" placeholder="Employee Abbreviation" />
				<error-messages key="abbrevation"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : employeeForm.mobilePhone.$invalid }">
				<input type="text" class="form-control" name="mobilePhone" ng-model="employee.mobilePhone" placeholder="Employee mobile" />
				<error-messages key="mobilePhone"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : employeeForm.extraPhoneNumber.$invalid }">
				<input type="text" class="form-control" name="extraPhoneNumber" ng-model="employee.extraPhoneNumber" placeholder="Employee extra phone number" />
				<error-messages key="extraPhoneNumber"></error-messages>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : employeeForm.email.$invalid }">
				<input type="email" class="form-control" name="email" ng-model="employee.email" placeholder="Employee email" />
				<error-messages key="email"></error-messages>
			</div>

			<div class="checkbox" ng-class="{ 'has-error' : employeeForm.isResponsible.$invalid }">
				<label for="isResponsible">
					<input type="checkbox"  name="isResponsible" id="isResponsible" ng-model="employee.isResponsible" />
					Employee is responsble for memos
				</label>
				
				<error-messages key="isResponsible"></error-messages>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Store</legend>
			
			<div class="form-group" ng-class="{ 'has-error' : employeeForm.workingInStore.$invalid }">

				<store-selector ng-model="employee.workingInStore.id" name="workingInStore" organization="organization"></store-selector>

				<error-messages key="workingInStore"></error-messages>
			</div>	


			<div class="form-group" ng-class="{ 'has-error' : employeeForm.pinCode.$invalid }">
				<input type="text" class="form-control" name="pinCode" ng-model="employee.pinCode" placeholder="Employee PIN code" />
				<error-messages key="pinCode"></error-messages>
			</div>
		</fieldset>
			<!--legend>Address</legend>

			<address-fields data="employee"></address-fields-->
		
		
		<div class="form-group">
			<div class="btn-group">
				<button class="btn btn-primary">Submit</button>
				<button class="btn btn-danger" ng-click="employee = {}">Clear form</button>
			</div>
		</div>

		
	</form>