<!--
    Uses employeeForm.js
-->

<div ng-controller="EmployeesCtrl as ctrl" ng-init="employee = {}">
	<h3>New employee</h3>
	<employee-form employee="employee" action="ctrl.create(employee, '/organizations/' + organizationId)" errors="ctrl.errors" organization="organizationId"></employee-form>
</div>