<div class="form-group">
    <label for="creator">Creator</label>                            
    <select ng-disabled="readOnly" class="form-control" ng-model="value" ng-options="k.id as k.abbreviation for k in employees">
        <option value="">Choose</option>
    </select>
</div>
