<div>
    <div class="modal-header">
        <h3 class="modal-title">Välj en tidperiod</h3>
    </div>
    <div class="modal-body" align="center">
        <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="dt" min-date="minDate" max-date="maxDate" 
                show-weeks="true" class="well well-sm" starting-day="1"></datepicker>
        </div>
        <pre>Du har valgt: <em>{{dt | date:'fullDate' }}</em></pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Ok</button>
        <button class="btn btn-warning" ng-click="cancel()">Avbryta</button>
    </div>
</div>