<div ng-controller="MemoCtrl as ctrl">
    <form role="form" name="memoForm" ng-submit="ctrl.submit(memo)" form-helper="ctrl.errors">
        
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="text-center">Memo #{{memo.id}} <small> {{ memo.status }} <span class="glyphicon glyphicon-print"> </span></small></h2>
                
                
                 
            </div>

        </div>
    
 
        <memo-details></memo-details> 
       
        <memo-item></memo-item> 
                
        <memo-customer></memo-customer>
        
        <memo-order ng-show="memo.status == 'ORDERED' || memo.status == 'RECEIEVED'"></memo-order>

        <memo-reception ng-show="memo.status == 'RECEIVED'"></memo-reception>
    

        <button class="btn btn-success">Submit</button>
    </form>
</div>




<!--

 {
    "creator": {
        "id": 4
    },
    "customer": {
        "id":3
    },
    "freeText": "Freetext fielafjdglsadng",
    "isReclaim": true,
    "item": {
        "agreedPrice":"129:-",
        "color":"Black",
        "itemNumber":"22000014586",
        "name":"Shorts",
        "providerItemNumber":"F1112094830",
        "quantity":"2",
        "size":"XL",
        "provider":{
            "id":3
        }
    },
    "order": null,
    "reception": null,
    "reclaimId": "54564654",
    "remindDate": "2014-10-20T17:06:48.172+02:00",
    "responsible": {
        "id": 4
    },
    "status": "RECEIVED",
    "tag": "tag.. not used"
}



-->

