<form name="memoDetails" form-helper="ctrl.errors">
 	<fieldset>
        <legend>Memo</legend>

        <div class="row">
            <div class="col-md-2 creator-column">
                <creator-selector ng-model="memo.creator.id" employees="employees"></creator-selector>
                <error-messages key="creator"></error-messages>
                <created-date obj="memo"></created-date>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="responsible">Responsible</label>
                        <select class="form-control" ng-model="memo.responsible.id" ng-options="k.id as k.abbreviation for k in employees | filter: !isResponsible " tabindex="1">
                            <option value="">Choose</option>
                        </select>
                        <error-messages key="responsible"></error-messages>
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="responsible">Reminder date:</label>
                        <input type="date" ng-model="memo.remindDate" class="form-control" name="reminder" id="reminder" tabindex="1">
                        <error-messages key="remindDate"></error-messages>
                    </div>

                    <div class="col-md-3 col-md-offset-3 form-group">
                        <label for="reclamation">Reclaim item</label>
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <input type="checkbox" ng-model="memo.isReclaim" />
                                <error-messages key="isReclaim"></error-messages>
                            </span>
                            <input type="text" ng-disabled="!memo.isReclaim" ng-model="memo.reclaimId" class="form-control"  name="reclaimId" id="reclamation">
                            <error-messages key="reclaimId"></error-messages>
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                    <div class="form-group col-md-12">
                        <label for="freeText">
                            Comments
                        </label>
                        <textarea id="freeText" name="freeText" class="form-control" ng-model="memo.freeText" tabindex="1"></textarea>     
                        <error-messages key="freeText"></error-messages>
                    </div>
                    

                </div>
            </div>
        </div>
    </fieldset>
</form>