<form name="memoCustomerForm" form-helper="ctrl.errors">
	<fieldset>
	    <legend>Customer</legend>            

	    <div class="row">
	        <div class="form-group col-md-12">
	            <label for="customerSearch">Find customer</label>
	            <input type="text" ng-model="customerSearch" class="form-control" typeahead="company.searchString for company in search($viewValue)" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="selectCustomer($item, $model, $label)">
	            
	            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
	        </div>
	    </div>
		
	    <div class="row">
	        <div class="col-md-4 form-group">
	            <label for="firstName">First Name</label>
	            <input type="text" id="firstName" name="name" ng-disabled="memo.customer.id" ng-model="memo.customer.name" class="form-control" tabindex="3">
	            <error-messages key="name"></error-messages>
	        </div>       
	        <div class="col-md-4 form-group">
	            <label for="lastName">Last name</label>
	            <input type="text" id="lastName" name="lastName" ng-disabled="memo.customer.id" ng-model="memo.customer.lastName" class="form-control" tabindex="3">
	            <error-messages key="lastName"></error-messages>
	        </div>       

	        <div class="col-md-4 form-group">
	            <label for="email">Email</label>
	            <input type="email" id="email" name="email" ng-disabled="memo.customer.id" ng-model="memo.customer.email" class="form-control">
	            <error-messages key="email"></error-messages>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-md-4 form-group">
	            <label for="mobilePhone">Mobile phone</label>
	            <input type="text" class="form-control" ng-disabled="memo.customer.id" ng-model="memo.customer.mobilePhone" tabindex="3">
	            <error-messages key="mobilePhone"></error-messages>
	        </div>

	        <div class="col-md-4 form-group">
	            <label for="association">Association</label>
	            <input type="text" class="form-control" ng-disabled="memo.customer.id" ng-model="memo.customer.association" tabindex="3">
	            <error-messages key="association"></error-messages>
	        </div>
	        
	        <div class="col-md-4 form-group">
	            <label for="address">Address</label>
	            <input type="text" class="form-control" ng-disabled="memo.customer.id" ng-model="memo.customer.address.address">
	            <error-messages key="address"></error-messages>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-md-2 col-md-offset-8 form-group">
	            <label for="city">City</label>
	            <input type="text" class="form-control" ng-disabled="memo.customer.id" ng-model="memo.customer.address.city">
	            <error-messages key="city"></error-messages>
	        </div>
	        <div class="col-md-2 form-group">
	              <label for="postCode">Post code</label>
	            <input type="text" class="form-control" ng-disabled="memo.customer.id" ng-model="memo.customer.address.postalCode">
	            <error-messages key="postalCode"></error-messages>
	        </div>
	    </div>

	</fieldset>
</form>