
<form name="memoItemForm" form-helper="ctrl.errors">
    <fieldset>
        <legend>Item</legend>
    
        <div class="row">
            <div class="form-group col-md-3">
                <label for="provider">Provider</label>
                <select class="form-control" ng-model="memo.providerId" id="provider" ng-options="p.id as p.name for p in providers" tabindex="2">
                    <option value="">Select provider</option>
                    <error-messages key="provider"></error-messages>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="name">Item name</label>
                <input type="text" ng-model="memo.item.name" class="form-control" tabindex="2">
                <error-messages key="name"></error-messages>
            </div>

            <div class="form-group col-md-3 col-md-offset-3">
                <label for="itemNr.">Provider item nr.</label>
                <input type="text" ng-model="memo.item.providerItemNumber" class="form-control">
                <error-messages key="providerItemNumber"></error-messages>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="itemSize">Item size</label>
                <input type="text" class="form-control" ng-model="memo.item.size" tabindex="2">
                <error-messages key="size"></error-messages>
            </div>
            
            <div class="form-group col-md-3 col-md-offset-3">
                <label for="itemSize">Item nr.</label>
                <input type="text" class="form-control" ng-model="memo.item.itemNumber">  
                <error-messages key="itemNumber"></error-messages>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <label for="color">Color</label>
                <input type="text" ng-model="memo.item.color" class="form-control" tabindex="2">
                <error-messages key="color"></error-messages>
            </div>
            <div class="form-group col-md-3">
                <label for="color">Quantity</label>
                <input type="text" ng-model="memo.item.quantity" class="form-control" tabindex="2">
                <error-messages key="quantity"></error-messages>
            </div>
        </div>
    </fieldset>
</form>