<form name="memoOrderForm">
 	<fieldset>
        <legend>Order</legend>
		
		<div class="row">
			<div class="col-md-2 creator-column">
               	
               	<creator-selector ng-model="memo.order.creator.id" employees="employees"></creator-selector>

              	<created-date obj="memo.order"></created-date>
			</div>
			
			<div class="col-md-10">
				<div class="row">
		            <div class="col-md-3">
		                <div class="form-group">
		                    <label for="orderNumber">Order number</label>
		                    <input type="text" class="form-control" ng-model="memo.order.orderId" id="memoOrderNumber" name="orderNumber" tabindex="4">
		                </div>
		                <div class="form-group">
		                    <label for="orderNumber">Provider order number</label>
		                    <input type="text" class="form-control" ng-model="memo.order.providerOrderId" id="memoOrderNumber" name="providerOrderId" tabindex="4"> 
		                </div>
		            </div>

		            <div class="col-md-9 form-group">
		                <label for="details">Order details</label>
		                <textarea name="orderRemarks" ng-model="memo.order.remarks" class="form-control" tabindex="4"></textarea>
		            </div>
		        </div>		
			</div>
		</div>        
    </fieldset>
</form>