<form name="memoReceivedForm">
 	<fieldset>
        <legend>Reception</legend>
		
		<div class="row">
			<div class="col-md-2 creator-column">
                <creator-selector ng-model="memo.reception.creator.id" employees="employees"></creator-selector>
                
                <created-date obj="memo.reception"></created-date>
			</div>
			
			<div class="col-md-10">
				<div class="row">
		            <div class="col-md-3">
		                <div class="form-group">

		                    <label for="isCustomerNotified">
		                    <input type="checkbox" ng-model="memo.reception.isCostumerNotified" id="isCustomerNotified" name="isCustomerNotified" tabindex="5">
		                    Customer notified?</label>
		                    
		                </div>
		                <div class="form-group">
		                    <label for="storageLocation">Storage location</label>
		                    <input type="text" class="form-control" ng-model="memo.reception.storageLocation" id="storageLocation" name="storageLocation" tabindex="5">
		                </div>
		            </div>

		            <div class="col-md-9 form-group">
		                <label for="remarks">Remarks</label>
		                <textarea name="remarks" ng-model="memo.reception.remarks" class="form-control" tabindex="5"></textarea>
		            </div>
		        </div>
			</div>
		</div>
        
    </fieldset>
</form>