<div ng-controller="MessageCtrl">
    <h3>Conversation</h3>
        <br>
    <div class="panel panel-default" align="right">
        <div class="panel-body chat" ng-repeat="message in messages|limitTo:-4">
            <p>
                <b>{{message.sender.name}} {{message.sender.lastName}} ({{message.sender.mobilePhone}})</b> 
                <br>{{message.dateCreated | date:'yyyy-MM-dd HH:mm'}}
                <br>
            </p>
            <div class="bubble meMessage">
                {{message.message}}
            </div> 
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-info pull-right" 
            ng-click="showWholeHistory()">Message history</button>
        <br><br><br>
    </div>
    <div>
        <textarea class="form-control" rows="2" 
            placeholder="Send a message? Write here!" 
            id="inputText" ng-model="inputMessage"></textarea>
    </div>
        <p></p>
            
        <div align="right">
            <!--Do something here for this "ok" button! There is no functionality here at the moment!
                Add it in the MessageCtrl.js file-->
            <button class="btn btn-primary" ng-click="send()">Send message</button>
            <a class="btn btn-warning" href="#/search" role="button">Tillbaka</a>
            <br><br>
        </div>
</div>
