<div>
    <div class="modal-header">   
        <div class="" align="left">
            <h4>Order
                <select class="pull-right" ng-model="order.creator.id" 
                    ng-options="employee.id as (employee.abbreviation + ' - ' + employee.name + ' ' + employee.lastName) for employee in employees"></select>
            </h4>
        </div>
    </div>
    <div class="modal-body" align="left">
        <div class="form-group">
           <label for="ourID" class="control-label">Our order ID:</label>
             <input type="text" class="form-control" id="ourID" ng-model="order.orderId"
                    placeholder="Skriv vårt order ID här">
        </div>
        <div class="form-group">
           <label for="levID" class="control-label">Providers order ID:</label>
             <input type="text" class="form-control" id="levID" ng-model="order.providerId"
                    placeholder="Skriv leveratörens order ID här">
        </div>
        
    </div>
    <div class="modal-footer">
        <label class="control-label pull-left">Remarks:</label>
        <textarea class="form-control" rows="3" ng-model="order.remarks"
                  placeholder="Skriv en anmärkning här" id="inputText"></textarea>
        <p></p>
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>



