<div>
    <div class="modal-header">   
        <div class="" align="left">
            <h4>Reception
                <select class="pull-right" ng-model="reception.creator.id" 
                    ng-options="employee.id as (employee.abbreviation + ' - ' + employee.name + ' ' + employee.lastName) for employee in employees"></select>
            </h4>
        </div>
    </div>
    <div class="modal-body" align="left">
        <div class="form-group">
           <label for="ourID" class="control-label">Storage location:</label>
             <input type="text" class="form-control" id="ourID" ng-model="reception.storageLocation"
                    placeholder="Skriv lagerplatsen här">
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="reception.isCostumerNotified">  
                Is customer notified?
            </label>
        </div>
        
    </div>
    <div class="modal-footer">
        <label class="control-label pull-left">Remarks:</label>
        <textarea class="form-control" rows="3" ng-model="reception.remarks"
                  placeholder="Skriv en anmärkning här" id="inputText"></textarea>
        <p></p>
        <button class="btn btn-info" ng-click="ok()">notify customer</button>
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>