<div ng-controller="SearchCtrl">
    <form class="well form-search">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search_text" id="search_text" placeholder="Search here">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" 
                        ng-click="getMemos();collapseMemos(memos)">Search
                </button>
            </span>
        </div>

        <div align="right">
            <small class="text-primary" ng-click="isFilterCollapsed = !isFilterCollapsed"
                   style="cursor:pointer">Show filter</small>
            <div collapse="isFilterCollapsed" align="left">
                <div>
                    <div class="col-md-1">
                        <span class="dropdown" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                Timeperiod
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href ng-repeat="(key,value) in timePeriods" 
                                       ng-click="addTimeFilter(key, value)">{{value}}
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <span class="dropdown" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                Repsonsible
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href id ng-repeat="item in responsibles" 
                                       ng-click="addResponsibleFilter(item)">{{item.abbreviation}} - {{item.name}} {{item.lastName}}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <span class="dropdown" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                Creator
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href ng-repeat="item in creators" 
                                       ng-click="addCreatorFilter(item)">{{item.abbreviation}} - {{item.name}} {{item.lastName}}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <span class="dropdown" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                Provider.ID
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href ng-repeat="item in providers" 
                                       ng-click="addProviderFilter(item)">{{item.providerAbbreviationId}} - {{item.name}}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <span class="dropdown" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                Status
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href ng-repeat="(status, stringValue) in statuses" 
                                       ng-click="addStatusFilter(status, stringValue)">{{stringValue}}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <span class="dropdown" on-toggle="toggled(open)">
                            <a href class="dropdown-toggle">
                                IsReclaim?
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href ng-repeat="(isReclaim, stringValue) in isReclaim" 
                                       ng-click="addReclaimFilter(isReclaim, stringValue)">{{stringValue}}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                
                <br><hr>

                <div>
                    <button type="button" ng-click="removeTimeFilter()" 
                            ng-show="isTimeFilterVisible" class="btn btn-default btn-sm">
                        {{timeFilter[1]}} <span class="glyphicon glyphicon-remove"></span> 
                    </button>
                    
                    <button type="button" ng-click="removeResponsibleFilter()" 
                            ng-show="isResponsibleFilterVisible" class="btn btn-default btn-sm">
                        Responsible: {{responsibleFilter.abbreviation}} <span class="glyphicon glyphicon-remove"></span> 
                    </button>
                    
                    <button type="button" ng-click="removeCreatorFilter()" 
                            ng-show="isCreatorFilterVisible" class="btn btn-default btn-sm">
                        Creator: {{creatorFilter.abbreviation}} <span class="glyphicon glyphicon-remove"></span> 
                    </button>
                    
                    <button type="button" ng-click="removeProviderFilter()" 
                            ng-show="isProviderFilterVisible" class="btn btn-default btn-sm">
                        Provider id: {{providerFilter.providerAbbreviationId}} <span class="glyphicon glyphicon-remove"></span> 
                    </button>
                    
                    <button type="button" ng-click="removeStatusFilter()" 
                            ng-show="isStatusFilterVisible" class="btn btn-default btn-sm">
                        Status: {{statusFilter[1]}} <span class="glyphicon glyphicon-remove"></span> 
                    </button>
                    
                    <button type="button" ng-click="removeReclaimFilter()" 
                            ng-show="isReclaimFilterVisible" class="btn btn-default btn-sm">
                        IsReclaim?: {{reclaimFilter[1]}} <span class="glyphicon glyphicon-remove"></span> 
                    </button>      
                    <button type="button" ng-click="removeAllFilters()"
                            ng-show="isThereAFilter" class="btn btn-default btn-sm pull-right">
                        Remove All <span class="glyphicon glyphicon-remove"></span> 
                    </button>   
                </div>
            </div>
        </div>

    </form>
    
    <div class="col-md-12" ng-show="showResults">
        <form class="well" >
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" 
                                ng-click="selectAll($event)"
                                ng-checked="isSelectedAll()">
                        </th>
                        <th>Responsible</th>
                        <th>Creator</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Lastname</th>
                        <th>Provide ID</th>
                        <th>Quantity</th>
                        <th>Item name</th>
                     </tr>
                </thead>
                <tbody>    
                    <tr ng-class="getSelectedClass(memo)" style="cursor:pointer" 
                        ng-repeat-start="memo in memos.slice(((bigCurrentPage-1)*maxSize), 
                        ((bigCurrentPage)*maxSize)) track by $index">
                        <td>
                            <input type="checkbox" name="selected"
                                ng-checked="isSelected(memo)"
                                ng-click="updateSelection($event, memo)">
                        </td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.responsible.abbreviation}} - {{memo.responsible.name}} {{memo.responsible.lastName}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.creator.abbreviation}} - {{memo.creator.name}} {{memo.creator.lastName}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.dateCreated.slice(0,10)}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{statuses[memo.status]}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.customer.name}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.customer.lastName}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.item.provider.providerAbbreviationId}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.item.quantity}}</td>
                        <td ng-click="collapseMemos(memo);
                            memo.expanded = !memo.expanded">{{memo.item.name}}</td>
                    </tr>
                    <tr ng-if="memo.expanded" ng-repeat-end="">
                        
                      <td colspan="10">
                        <div class="well">
                            <div class="modal-header">
                                <h3 class="modal-title">Memo #{{memo.id}} skapad av {{memo.creator.name}}
                                    den {{memo.dateCreated.slice(0,10)}}</h3>
                            </div>
                            <div class="modal-body" id="memo-detail-{{memo.id}}">
                                <table border="0" width="100%" height="50%" cellpadding="1" cellspacing="1">
                                    <tr height="90%">
                                        <td>
                                            <table border="0" width="100%" height="100%" >
                                                <tr>
                                                    <td><b>Ansvarig:</b></td>
                                                    <td>{{memo.responsible.abbreviation}} - {{memo.responsible.name}} {{memo.responsible.lastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Skapare:</b></td>
                                                    <td>{{memo.creator.abbreviation}} - {{memo.creator.name}} {{memo.creator.lastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Skapad:</b></td>
                                                    <td>{{memo.dateCreated.slice(0,10)}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Status:</b></td>
                                                    <td>{{statuses[memo.status]}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Lev ID:</b></td>
                                                    <td>{{memo.item.provider.providerAbbreviationId}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table border="0" width="100%" height="100%">
                                                <tr>
                                                    <td><b>Namn:</b></td>
                                                    <td>{{memo.customer.name}}</td>
                                                </tr>
                                                
                                                    <td><b>Efternamn:</b></td>
                                                    <td>{{memo.customer.lastName}}</td>
                                                
                                                <tr>
                                                    <td><b>Antal:</b></td>
                                                    <td>{{memo.item.quantity}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Benämning:</b></td>
                                                    <td>{{memo.item.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b> </b></td>
                                                    <td> </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <hr>
                                <h3>Memo:</h3>
                                {{memo.freeText}}

                            </div>
                            <div>
                                <div align="left" class="span4">
                                    <a ng-href="#/memo/{{memo.id}}" type="button" class="btn btn-warning">
                                        Edit
                                    </a>
                                    <button type="button" class="btn btn-danger"
                                            ng-click="deleteConfirmation(memo)">
                                        Delete
                                    </button>
                                    <a class="btn btn-primary pull-right" ng-click="openConversation(memo)" ng-show="memo.customer"
                                       role="button">
                                        Conversation
                                    </a>
                                    <button type="button" class="btn btn-success pull-right" ng-disabled="memo.reception"
                                             ng-click="showReceptionPopup([memo])">
                                        Receive
                                    </button>
                                    <button type="button" class="btn btn-info pull-right" ng-disabled="memo.order"
                                            ng-click="showOrderPopup([memo])">
                                        Order
                                    </button>
                                    <button type="button" class="btn btn-default pull-right" ng-click="printDiv(memo.id)">
                                        Print
                                    </button>
                                </div>
                            </div>
                      </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">                        
                <button type="button" class="btn btn-info" 
                        ng-disabled="isLessThanOneMemoSelected" ng-click="showOrderPopup(selected)">
                        Order</button>
                <button type="button" class="btn btn-success" 
                        ng-disabled="isLessThanOneMemoSelected" ng-click="showReceptionPopup(selected)">
                    Receive</button>
            </div>
        </form>

        <div align="center">
            <pagination 
                total-items="memoCount" items-per-page="maxSize" page="currentPage" ng-model="bigCurrentPage" class="pagination-sm" boundary-links="true"
                rotate="false" previous-text="Previous" next-text="Next" first-text="First"
                last-text="Last">  
            </pagination>

        </div>
        <div align="center">
            <label for="numberPerPage">Number of result per page:</label> 
            <input id="numberPerPage" type="number" min="1" max="100" 
                   class="form-control" ng-model="maxSize" style="width: 100px;">
            <br><br>
        </div>
    </div>
</div>
    
