<div>
    <div class="modal-header">
        <h3 class="modal-title">Message History</h3>
    </div>
    <div class="modal-body" align="right">
        <div class="panel-body chat" ng-repeat="message in messages">
            <p>
                <b>{{message.sender.name}} {{message.sender.lastName}}</b> 
                (email: {{message.sender.email}} and phone: {{message.sender.mobilePhone}})
                <br>
                sent at 
                <b>{{message.sender.dateCreated.slice(0,10)}}</b>
                {{message.sender.dateCreated.slice(11,19)}}
            </p>
            <div class="bubble meMessage">
                {{message.message}}
            </div> 
        </div>
    </div>  
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>