<div>
    <div class="modal-header">
        <h3 class="modal-title">Du skickar sms till:<h3>
        <h4>
            <span ng-repeat="s in selected"> 
                {{s.firstname + " " + s.lastname}}{{$last ? '' : ', '}}</span>
        </h4>
    </div>
    <div class="modal-body" align="right">
        <textarea class="form-control" rows="3" placeholder="Skriv ett sms här" id="inputText"></textarea>
        <p></p>
        <button class="btn btn-primary" ng-click="ok()">Skicka sms</button>
        <button class="btn btn-warning" ng-click="cancel()">Avbryta</button>
    </div>
    <div class="modal-footer">
    </div>
</div>