<div class="row" ng-controller="LockerCtrl as ctrl">
	<div class="col-md-4 col-md-offset-4">
		<h3>Locked!</h3>

		<p> This workstation is locked! You need to enter a pin code in order to enter: </p>

		<form ng-submit="ctrl.submit(pinCode)">
			
			<div class="form-group" ng-class="{ 'has-error' : invalid }">
				<div class="input-group">
					<input type="password" class="form-control input-lg" ng-model="pinCode" placeholder="PIN Code">
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg" type="submit">Submit</button>
					</span>	
				</div>
				
				<p class="help-block" ng-show="invalid">Invalid PIN code, please try again.</p>
			</div>
		</form>



	</div>
</div>