
<div class="text-centered">
	<h1>Uh oh!</h1>	
	<p> Something went wrong here! A nefarious band of killer robots has been sent to your location!</p>

	<p>You could also just go to the <a href="#/">front page :) </a></p>
</div>
