<div class="container">
    <h2> Employee Dashboard </h2>
    <button type="button" class="btn btn-default">New Memo</button>
    <button type="button" class="btn btn-default">Send SMS</button>
    <button type="button" class="btn btn-default">Detailed Memo Search</button>
    
</div>  

<div class="container">
</div>

<div class="container">
    
    <form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Memo List</div> 
             <!-- Table -->
              <table class="table">
                    <thead>
                        <tr>
                            <th>Ansvare</th>
                            <th>Skapare</th>
                            <th>Skapad</th>
                            <th>Status</th>
                            <th>Namn</th>
                            <th>Efternamn</th>
                            <th>Lev. ID</th>
                            <th>Ant</th>
                            <th>Benämmming</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>IH1</td> <!-- Ansvare -->
                            <td>IH2</td> <!-- Skapare -->
                            <td>14-10-01</td> <!-- Skapad -->
                            <td>Skapad</td> <!-- Status -->
                            <td>Eric</td> <!-- Namn -->
                            <td>Knauss</td> <!-- Efternamn -->
                            <td>ADI</td> <!-- Lev. ID -->
                            <td>69</td> <!-- Ant -->
                            <td>YOLO</td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Reminder</div> 
             <!-- Table -->
              <table class="table">
                    <tbody>
                        <tr>
                            <td>INSERT_MEMO_NAME  <button type="button" class="btn btn-default btn-xs pull-right">Clear</button></td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">Store InfomaHon</div> 
                    <table class="table">
                            <tbody>
                                <tr>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                        Donec tempus vehicula lacinia. Sed eu dui fermentum enim rutrum ullamcorper.
                                        Mauris vel felis turpis. Cras eget sagittis est, vel porta ex. 
                                        Sed molestie scelerisque massa. Proin risus elit, mollis a pharetra nec, 
                                        aliquam a justo. In nec hendrerit lorem, quis auctor diam. Sed et leo in dui
                                        molestie viverra. Vivamus tincidunt feugiat enim vitae iaculis. </p>
                                    <p> test p2</p>
                                </tr>
                            </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
    

