@import "bootstrap";
@import "_memo.less";

   
.borderless tbody tr td, .borderless thead tr th {
    border: none;
}
.span4 .btn {
    margin-left: 3px;
    margin-right: 3px;
}
.chat {
    width: 800px;
}

.bubble{
    background-color: #DBD6D6;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #DBD6D6;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.otherMessage {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.otherMessage::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.meMessage {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.meMessage::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}


div.actions {
    margin-bottom: 10px; 
}


// mimic the style of the h1 element
.application header .row>div {
    margin-top: 20px;
    margin-bottom: 10px;
}


.content-container {
    margin-top: 20px;
}


.locker-status {
    margin-left: 30px;
}
