<!--
    The main form to create an organization
-->

<div ng-controller="OrganizationCtrl as ctrl" ng-init="organization = {}">
  <h3>New organization</h3>

  <form role="form" name="newForm" ng-submit="ctrl.create(organization)" novalidate form-helper="ctrl.errors">
    <error-messages key=""></error-messages>

    <fieldset>
      <legend>Contact information</legend>
  
      <div class="form-group" ng-class="{'has-error' : newForm.name.$invalid }">
        <input type="text" class="form-control" name="name" ng-model="organization.name" placeholder="Organization name">
        <error-messages key="name"></error-messages>
      </div>
      
      <div class="form-group" ng-class="{'has-error' : newForm.email.$invalid }">
        <input type="email" class="form-control" name="email" ng-model="organization.email" placeholder="Organization email">
        <error-messages key="email"></error-messages>
      </div>

      <div class="form-group" ng-class="{'has-error' : newForm.phone.$invalid }">
        <input type="text" class="form-control" name="mobilePhone" ng-model="organization.mobilePhone" placeholder="Mobile phone">
        <error-messages key="mobilePhone"></error-messages>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-block btn-success" type="submit">Submit</button>
      </div>
    
    </fieldset>
  </form>
</div>