<!--
    Deprecated?
-->

<table class="table table-striped table-hover" ng-controller="OrganizationsCtrl">
    <thead>
      <tr>
        <th>Organization name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="o in organizations">
        <td>{{ o.name }}</td>
        <td> 
          <a ng-href="#/organizations/{{o.id}}">Edit</a>          
          <a ng-href="#/organizations/{{o.id}}/stores">Stores</a>          
        </td>
      </tr>
    </tbody>
  </table>