<!--
    Part of the organization dashboard. Uses the employee/customer/provider-list
    directives to populate a list of employees, customers and providers.
-->


<div ng-controller="OrganizationDetailCtrl" ng-cloak>
	
	<h4>Organization: {{organization.name}}</h4>
	
	<div class="actions">
		<div class="btn-group">
			<a ng-href="#/organizations/{{organization.id}}/stores/new" class="btn btn-default">New store</a>	
			<a ng-href="#/organizations/{{organization.id}}/employees/new" class="btn btn-default">New employee</a>
                        <a ng-href="#/organizations/{{organization.id}}/customers/new" class="btn btn-default">New customer</a>
                        <a ng-href="#/organizations/{{organization.id}}/providers/new" class="btn btn-default">New provider</a>
		</div>
	</div>
	
	<stores organization="organization">
	</stores>
	
	<employee-list organization="organization"></employee-list>
        <customer-list organization="organization"></customer-list>
        <provider-list organization="organization"></provider-list>
</div>

	
